#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/
.idea/

/HostTest
/LogicTest
/WeaverTest
/FullPack.Tests
/DonutWeaver/Properties/launchSettings.json
/Tests
/DonutEditor/Library
/DonutEditor/Temp
/DonutEditor/Assets/Dlls
/DonutEditor/Assets/Dlls.meta

/Library
/Temp
/Assets/Dlls
/Assets/Resources
/Assets/Resources.meta
/log.txt
/Logs

/Resources/Shaders/Spine

!manifest.json
/packages
/DonutGame/Build/Windows/

/DonutEditor/DonutEditor.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj

/DonutGame/Assets/Plugins/Editor/JetBrains
/DonutGame/Assets/Plugins/Editor/JetBrains.meta

/DonutGame/Builds
/DonutGame/UnityFastRunnerScripts/setvars.bat

/DonutEditor/Build
/EditorBuild

/DonutEditor/Assets/Plugins/Editor/JetBrains

/DonutGame/Build

/DonutEditor/Assets/Plugins

/DonutEditor/ProjectSettings

/RoomContainer/MessagePackGenerated.cs
